<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <h1 class="heading-font">Contact</h1>
      <!-- <iframe src="https://embed.waze.com/ko/iframe?zoom=17&lat=37.388282&lon=126.665132&ct=livemap&pin=1&desc=1" height="450" allowfullscreen></iframe> -->
      <iframe src="https://embed.waze.com/iframe?zoom=14&lat=37.388282&lon=126.665132&pin=1&desc=1"
            width="100%" height="520"></iframe>
      <h2 class="subheading-font">주소 (Address)</h2>
      <p class="contact-font"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;인천광역시 연수구 송도과학로27번길 55 롯데캐슬 캠퍼스타운
        d동 302/303호</p>

      <h2 class="subheading-font">이용시간 (Trading Hours)</h2>
      <p class="contact-font">평일: 08:00 - 22:00</p>
      <p class="contact-font">토요일: 08:00 - 13:00</p>
      <p class="contact-font">일요일과 공휴일은 휴무입니다.</p>

      <h2 class="subheading-font">연락처 (Contact)</h2>
      <p class="contact-font"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;032-813-6778</p>
      <p class="contact-font"><img src="../../assets/img/logo/katalk.png" alt="Kakaotalk Logo" width="20px"
          height="20px">&nbsp;&nbsp;&nbsp;&nbsp;</p>

      <h2 class="subheading-font">이용안내 (Services)</h2>
      <span class="contact-font"><i class="fa fa-calendar-check-o"></i>예약</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="contact-font"><i class="fa fa-car"></i>주차</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="contact-font"><i class="fa fa-wifi"></i>Wi-Fi</span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="contact-font"><i class="fa fa-male"></i>&nbsp;|&nbsp;<i
          class="fa fa-female"></i>남녀 화장실 구분</span>&nbsp;&nbsp;&nbsp;&nbsp;


    </div>
  </div>
</div>