<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2" style="text-align: center">
      <img src="../../../assets/img/logo_2.JPG" alt="Logo" class="img img-responsive">
      <p class="defFont" style="font-size: 40px; font-weight: bolder; color: #00A2DD">Reverse & Rebirth</p>
      <p class="defFont" style="font-size: 30px; font-weight: bolder; color: #00A2DD">통증 없는 건강한 몸으로</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4" style="text-align: center; font-size: 30px">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-lg-8">

    </div>
  </div>
</div>