<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      
      <h2 class="text-center" style="margin-top: 180px; font-size: 70px; font-weight: bolder">Reverse & Rebirth</h2>
      <p class="home-slogan-font">
        The moment you think it is too late is the fastest moment to start
      </p>

      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/klcbX4xZMN0?autoplay=1&mute=1&controls=0&rel=0&showinfo=0&autohide=2" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    </div>
  </div>
</div>