<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6 text-center">
      <p class="main-hash main-font">#Reverse & Rebirth</p>
    </div>
    <div class="col-lg-6 offset-lg-6 logo-animation text-center">
        <img src="../../assets/img/logo/logo_transparent.png" alt="" class="logo_fade" width="150px" height="150px">
        <span class="main-font ml-3 rbs-fade">ReverseBody</span>
    </div>
    
      
  </div>
</div>





<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let image of images">
    <img class="mainImgs" [src]="image" alt="Image">
  </ng-template>
</ngb-carousel> -->