.main-hash {
    /* color: #fff; */
    font-family: sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* font-size: 45px; */
    /* The typwriter cursor */
    /* border-right: .1em solid white;  */
    color: #fff;
    font-size: 45px;

    white-space: nowrap; /* Keeps the content on a single line */

    /* Gives that scrolling effect as the typing happens */
    /* margin: 0 auto;  */
    letter-spacing: .05em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(100, end),
      blink-caret 1.5s step-end infinite;
}

.main-font {
    color: #fff;
    font-size: 45px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

.logo-animation {
    /* animation name, time being displayed, delay */
    animation: logo-fade-in 3.5s 3.8s forwards;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

@keyframes logo-fade-in {
    to {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 422px) {
    .main-hash {
        font-size: 20px;
    }
    img.logo_fade {
        width: 100px;
        height: 100px;
    }
    .rbs-fade {
        font-size: 20px;
    }
}

@media screen and (min-width: 422px) {
    .main-hash {
        font-size: 25px;
    }
    img.logo_fade {
        width: 135px;
        height: 135px;
    }
    .rbs-fade {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) {
    .main-hash {
        font-size: 30px;
    }
    img.logo_fade {
        width: 150px;
        height: 150px;
    }
    .rbs-fade {
        font-size: 30px;
    }
}

@media screen and (min-width: 992px) {
    .main-hash {
        font-size: 35px;
    }
    img.logo_fade {
        width: 150px;
        height: 150px;
    }
    .rbs-fade {
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) {
    .main-hash {
        font-size: 45px;
    }
    .rbs-fade {
        font-size: 45px;
    }
}