<nav class="navbar footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="footer-container">
          <img src="../../assets/img/logo/logo_transparent.png" alt="ReverseBody Logo" class="img mr-2" width="50px"
            height="50px">
          <span class="footer-rbs">ReverseBody Studio</span>&nbsp;&nbsp;<br />
        </div>
        <div class="footer-content-container">
          주소: 인천광역시 연수구 송도과학로27번길 55 롯데캐슬 캠퍼스타운 d동 302/303호&nbsp;&nbsp;
          사업자 번호: 241-04-00346&nbsp;&nbsp;
          대표: 석승환
        </div>
        <div class="footer-content-container">
          메일: reverse-gym@naver.com&nbsp;&nbsp;
          문의: 032-813-6778&nbsp;&nbsp;
        </div>
      </div>

      <div class="col-lg-3">
        <div class="footer-container">
          <span class="footer-rbs">Find Us On</span>
        </div>
        <div class="footer-container">
          <img src="../../assets/img/logo/fb.png" alt="Facebook Logo" class="img mr-4" width="45px" height="45px">
          <img src="../../assets/img/logo/insta.png" alt="Instagram Logo" class="img mr-4" width="45px" height="45px">
          <img style="margin-left: -10px" src="../../assets/img/logo/naver.png" alt="Naver Blog Logo" class="img"
            width="55px" height="55px">
        </div>
      </div>
      <div class="col-lg-12">
        <p class="copyright-summary">Copyright &copy; 2016 - 2019 ReverseBody Republic of Korea, Inc. All rights reserved.</p>
      </div>
    </div>


  </div>
</nav>