<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <h1 class="heading-font">Manage Customers</h1>
      <h2 class="subheading-font mb-4">{{ instructor.name }} 선생님</h2>

      <select class="mb-4" name="allocatedCustomers" (change)="selectCustomer($event.target.value)">
        <option class="none" [value]="notChosen">회원을 선택하세요</option>
        <option *ngFor="let customer of instructor.customers" value="{{ customer.name }}">{{ customer.name }}</option>
      </select>
      <ng-container *ngIf="!notChosen">
        <div class="row">
          <div class="col-lg-4">
            <label class="bodytitle-font" for="customerName">이름</label>
          </div>
          <div class="col-lg-8">
            <span class="bodytitle-font">{{ customer.name }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label class="bodytitle-font" for="purpose">목적</label>
          </div>
          <div class="col-lg-8">
            <span class="bodytitle-font">{{ customer.purpose }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label class="bodytitle-font" for="symptoms">증상</label>

          </div>
          <div class="col-lg-8">
            <div *ngFor="let symptom of customer.symptoms">
              <p class="bodytitle-font">{{ symptom.symptomName }} ({{ symptom.details }})</p>
            </div>
          </div>
        </div>
        <button (click)="callAddProgrammeForm()" form="addProgrammeForm"
          class="btn btn-primary bg-primary content-font mb-4 mr-3">프로그램 추가하기
        </button>
        <button (click)="listProgrammes()" form="finishProgrammeForm"
          class="btn btn-danger bg-danger content-font mb-4">프로그램 삭제하기
        </button>
      </ng-container>

      <form #addProgrammeForm="ngForm" (ngSubmit)="addProgramme()" *ngIf="addProgrammeClicked && !finishProgrammeClicked">
        <div class="form-group">
          <label class="bodytitle-font" for="programmeName">프로그램</label>
          <input type="text" name="progName" id="programmeName" class="form-control"
            [(ngModel)]="programme.programmeName">
        </div>
        <div class="form-group">
          <label class="bodytitle-font" for="programmeDescription">설명</label>
          <textarea class="form-control" name="description" id="programmeDescription" name="progDescription" cols="30"
            rows="5" [(ngModel)]="programme.description"></textarea>
        </div>
        <div class="form-group">
          <label class="bodytitle-font" for="programmeSessionTime">날짜 & 시간</label>
          <input type="text" name="progSessionTime" id="programmeSessionTime" class="form-control"
            [ngModel]="programme.sessionTime | date: 'short'">
        </div>
        <div class="form-group">
          <label class="bodytitle-font" for="programmeType">프로그램 타입</label>
          <input type="text" name="progType" id="programmeType" class="form-control"
            [(ngModel)]="programme.programmeType">
        </div>
        <div class="form-group">
          <label class="bodytitle-font" for="programmeRelatedLink">관련 링크</label>
          <input type="text" name="progRelatedLink" id="programmeRelatedLink" class="form-control"
            [(ngModel)]="programme.relatedLink">
        </div>
        <button type="submit" class="btn btn-primary bg-primary content-font mr-3">추가</button>
        <button (click)="cancelProgramme()" type="button" class="btn btn-danger bg-danger content-font">취소</button>
      </form>

      <div>
        <select *ngIf="finishProgrammeClicked && !addProgrammeClicked" class="mb-4" name="addedProgrammes"
          (change)="selectProgramme($event.target.value)">
          <option class="none" [value]="programmeNotChosen">프로그램을 선택하세요</option>
          <option *ngFor="let programme of assignedProgrammes" value="{{ programme.programmeName }}">
            {{ programme.programmeName }} ({{ programme.sessionTime | date: 'medium' }})</option>
        </select>
      </div>

      <form #finishProgrammeForm="ngForm" (ngSubmit)="finishProgramme()" *ngIf="finishFormLoad && finishProgrammeClicked">
        <div class="row form-group">
            <div class="col-lg-4">
              <label for="finishedProgName">프로그램</label>
            </div>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="finishedProgName"
                name="finishedProgrammeName" [(ngModel)]="programme.programmeName">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
              <label for="finishedProgDesc">설명</label>
            </div>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="finishedProgDesc" name="finishedProgrammeDescription"
                [(ngModel)]="programme.description">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
              <label for="finishedProgTime">날짜 & 시간</label>
            </div>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="finishedProgTime"
                name="finishedProgrammeTime" [ngModel]="programme.sessionTime | date: 'short'"></div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
              <label for="finishedProgType">프로그램 타입</label>
            </div>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="finishedProgType"
                name="finishedProgrammeType" [(ngModel)]="programme.programmeType">
              </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
              <label for="finishedProgLink">관련 링크</label>
            </div>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="finishedProgLink"
                name="finishedProgrammeLink" [(ngModel)]="programme.relatedLink">
            </div>
        </div>

        <button type="submit" class="btn btn-primary bg-primary content-font mr-3">삭제</button>
        <button (click)="cancelProgramme()" type="button" class="btn btn-danger bg-danger content-font">취소</button>
        
      </form>
      
    </div>
  </div>
</div>