<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <h1 class="heading-font">{{ user.name }}님의 프로필</h1>

      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> 프로필이 업데이트 되었습니다. 저장되지 않은 정보는 사라집니다.
      </div>

      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">

        <!-- Client profile -->
        <div *ngIf="user.userType === 'Client'" class="form-row">
          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientEmail">이메일</label>
            <input type="text" name="email" id="clientEmail" class="form-control" [(ngModel)]="client.email">
          </div>
          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientContact">연락처</label>
            <input type="input" name="contact" class="form-control" id="clientContact" [(ngModel)]="client.phone">
          </div>

          <div class="form-group col-lg-12">
            <label class="bodytitle-font" for="clientAddress">주소</label>
            <input type="text" name="address" id="clientAddress" class="form-control" [(ngModel)]="client.address">
          </div>
          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientDob">나이</label>
            <input type="input" name="dob" class="form-control" id="clientDob" [(ngModel)]="client.age">
          </div>

          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientGender">성별</label>
            <input type="text" name="gender" id="clientGender" class="form-control" [(ngModel)]="client.gender">
          </div>
          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientHeight">키</label>
            <input type="input" name="height" class="form-control" id="client" [(ngModel)]="client.height">
          </div>
          <div class="form-group col-lg-6">
            <label class="bodytitle-font" for="clientWeight">몸무게</label>
            <input type="input" name="weight" class="form-control" id="clientWeight" [(ngModel)]="client.weight">
          </div>
          <div class="form-group col-lg-12">
            <label class="bodytitle-font" for="clientPurpose">목적</label>
            <input type="input" name="purpose" class="form-control" id="clientPurpose" [(ngModel)]="client.purpose">
          </div>
          <div class="form-group col-lg-12">
            <div>
              <label class="bodytitle-font" for="clientSymptom">증상</label>
              <div *ngFor="let symptom of client.symptoms" class="row">
                <div class="col-lg-4">
                  <h3 class="bodytitle-font">{{ symptom.symptomName }}</h3>
                </div>
                <div class="col-lg-8">
                  <p class="bodytitle-font">{{ symptom.details }}</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </form>
      <button *ngIf="user.userType === 'Client'" form="editForm" [disabled]="!editForm.dirty" type="submit"
        class="btn btn-primary">
        저장하기
      </button>

      <!-- Instructor profile -->
      <div *ngIf="user.userType === 'Instructor'" class="row">
        <div class="col-lg-12 mb-4">
          <img src="../../{{ instructor.imagePath.split(',')[0] }}" alt="{{ instructor.name }}" class="img"
            width="400px" height="300px">
        </div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <label class="bodytitle-font" for="instructorName">이름</label>
            </div>
            <div class="col-lg-8">
              <p class="bodytitle-font">{{ instructor.name }}</p>
            </div>
          </div>
        </div>

        <div class="col-lg-12 mb-4">
          <div class="row">
            <div class="col-lg-4">
              <h2 class="bodytitle-font">경력</h2>
            </div>
            <div class="col-lg-8">
              <p class="bodytitle-font" *ngFor="let exp of instructor.experiences">
                {{ exp.description }}
              </p>
            </div>
          </div>
          <button (click)="callAddExpForm()" class="btn btn-lg btn-primary bg-primary mr-3">경력 추가하기</button>
          <button (click)="callDeleteExpForm()" class="btn btn-lg btn-danger bg-danger">경력 삭제하기</button>
        </div>

        <div class="col-lg-12">
          <div *ngIf="calledAddExpForm">
            <form [formGroup]="addExpForm" (ngSubmit)="addExperience()">
              <div class="form-group row">
                <div class="col-lg-4">
                  <label class="bodytitle-font" for="expDescription">경력 내용</label>
                </div>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="expDescription" formControlName="description">
                </div>
              </div>
              <button type="submit" class="btn-primary bg-primary btn-lg btn">추가</button>
            </form>
          </div>
        </div>

        <div *ngIf="calledDeleteExpList" class="col-lg-12">
          <select class="mb-4" (change)="selectExp($event.target.value)">
            <option value="None">삭제할 경력을 선택하세요</option>
            <option *ngFor="let exp of instructor.experiences" value="{{ exp.id }}">{{ exp.description }}</option>
          </select><br/>
          <button (click)="deleteExperience()" class="btn btn-lg btn-danger bg-danger">삭제</button>
        </div>

      </div>
    </div>
  </div>
</div>