<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-6">
            <h1 class="heading-font">
                Instructors
            </h1>
            <ngb-tabset justify="fill">
                <ngb-tab *ngFor="let instructor of instructors">
                    <ng-template ngbTabTitle><b>{{ instructor.title }}</b></ng-template>
                    <ng-template ngbTabContent>
                        <h2 class="subheading-font" style="margin-top: 10px;">{{ instructor.name }}</h2>
                        <img class="instructor-bg" src="../../{{ instructor.src.split(',')[2] }}"
                            alt="{{ instructor.name }}">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth
                            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                            butcher retro keffiyeh
                            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
                            placeat salvia cillum
                            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>