<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-6">
            <h1 class="heading-font">
                Programmes
            </h1>
            <h2 class="subheading-font">Process</h2>
            <div class="row text-center mb-4">
                <div class="col-lg-2 process-design">
                    방문 & 문진
                </div>
                <div class="col-lg-2 process-design">
                    체성분 분석
                </div>
                <div class="col-lg-2 process-design">
                    관절별 기능검사
                </div>
                <div class="col-lg-2 process-design">
                    평가 및 체형분석
                </div>
                <div class="col-lg-2 process-design">
                    목표수립
                </div>
            </div>
            <ngb-tabset justify="fill">
                <ngb-tab>
                    <ng-template ngbTabTitle><b>재활운동</b></ng-template>
                    <ng-template ngbTabContent>
                        <h2 class="subheading-font" style="margin-top: 20px; margin-bottom: 20px;">재활운동 (Rehabilitation)
                        </h2>
                        <h3 class="bodytitle-font mt-5">슬링운동 (Sling)</h3>
                        <p class="content-font">
                            현수점을 이용한 운동으로 관절별 특화된 관절가동 운동과 근육조절의 인지능력 향상 및 관절의 안정화를 도모하는 운동
                        </p>

                        <h3 class="bodytitle-font mt-5">수술 전/후 재활 운동 (Post OP)</h3>
                        <p class="content-font">
                            관절의 인대, 힘줄 등의 재건술이나 허리, 목 등의 신경학적 수술 이후에 약해진 근육, 연부조직, 관절 등을 지지 및 보강하는 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">측만운동 (Scoliotic Change)</h3>
                        <p class="content-font">
                            특발성 (원인불명)과 기능성 (보상작용) 측만으로 나뉘어지며 근육조절 능력향상과 호흡운동 및 골반 변위에 따른 개인별 특화 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">체형운동 (Topology)</h3>
                        <p class="content-font">
                            체 중심의 변화나 과거 손상 관절로 인한 발목, 골반, 어깨 등의 부정렬을 회복시키는 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">관절별 운동재활 (Rehab)</h3>
                        <p class="content-font">
                            과사용 또는 특정부위에 느끼는 불편함을 해소하기 위한 관절별 초기재활부터 기능성 운동까지 다양한 프로그램 진행
                        </p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>기능운동</b></ng-template>
                    <ng-template ngbTabContent>
                        <h2 class="subheading-font" style="margin-top: 20px; margin-bottom: 20px;">기능운동 (Functional
                            Movement Workout)</h2>
                        <h3 class="bodytitle-font mt-5">기능운동 (Functional Movement Workout)</h3>
                        <p class="content-font">
                            각 관절별 자세유지 및 안정화에 필요한 움직임을 분석하여 특성화된 움직임의 패턴을 찾아주는 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">선수재활 (Athletic Rehab)</h3>
                        <p class="content-font">
                            스포츠 종목별 필요한 근육과 유연성, 균형능력 등을 파악하여 손상관절에 최적화된 상태를 유지하고 필드로의 복귀를 위한 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">근력운동 (Strengthening Workout)</h3>
                        <p class="content-font">
                            무게를 이용한 운동으로 근력 증진과 아름다운 몸매를 위한 기본이 되는 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">케틀벨 (Kettle Bell)</h3>
                        <p class="content-font">
                            코어 운동과 함께 무게를 이용한 진자운동 중심으로 체간의 굴곡과 신전 패턴을 사용하는 유, 무산소 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">시니어 운동 (Senior Workout)</h3>
                        <p class="content-font">
                            연령, 과거병력, 관절 상태를 파악하여 각 단계별로 적합한 운동부하와 컨디션 유지에 필요한 운동
                        </p>
                        <h3 class="bodytitle-font mt-5">키 성장 자세운동 (Posture Correctness Workout for Teenagers)</h3>
                        <p class="content-font">
                            청소년 키 성장 및 자세 교정운동
                        </p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>