<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-6">
            <h1 class="heading-font">
                Programmes
            </h1>
            <h2 class="subheading-font">Process</h2>
            <div class="row text-center mb-4">
                <div class="col-lg-2 process-design" style="margin-left: 15px;">
                    방문 & 문진
                </div>
                <div class="col-lg-2 process-design">
                    체성분 분석
                </div>
                <div class="col-lg-2 process-design">
                    관절별 기능검사
                </div>
                <div class="col-lg-2 process-design">
                    평가 및 체형분석
                </div>
                <div class="col-lg-2 process-design">
                    목표수립
                </div>
            </div>
            <ngb-tabset justify="fill">
                <ngb-tab>
                    <ng-template ngbTabTitle><b>재활운동 (Rehabilitation)</b></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngFor="let rehab of rehabs">
                            <div *ngIf="rehab.programmeType.includes('Rehab')">
                                <h3 class="bodytitle-font mt-5">{{ rehab.programmeName }}
                                    ({{ rehab.programmeEnglishName }})
                                </h3>
                                <p class="content-font">
                                    {{ rehab.description }}
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>기능운동 (Functional Movement Workout)</b></ng-template>
                    <ng-template ngbTabContent>
                        <div *ngFor="let fmw of fmws">
                            <div *ngIf="fmw.programmeType.includes('FMW')">
                                <h3 class="bodytitle-font mt-5">{{ fmw.programmeName }} ({{ fmw.programmeEnglishName }})
                                </h3>
                                <p class="content-font">{{ fmw.description }}</p>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>