<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <h1 class="heading-font">ReverseBody</h1>
      <h2 class="subheading-font">Reverse & Rebirth</h2>
      <iframe width="540" height="315" src="https://www.youtube.com/embed/jRlyFyHTPbc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p class="rbs-description content-font">체계적인 1:1 맞춤 운동을 통해 틀어진 몸과 만성 통증을 관리하며<Br/> 다이어트와 근력운동, 기능적 움직임을 통해
        아름답고 균형잡힌 몸을 만드는 공간입니다.
      </p>
    </div>
  </div>
</div> <!-- End of container -->