<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <h1 class="heading-font">ReverseBody</h1>
      <p class="subheading-font text-center">Reverse & Rebirth</p>
      <p class="content-font rbs-description">체계적인 1:1 맞춤 운동을 통해 틀어진 몸과 만성 통증을 관리하며 <br/>다이어트와 근력운동, 기능적 움직임을 통해
        아름답고 균형잡힌 몸을 만드는 공간입니다.
      </p>
      <div class="content-justifier">
          <video class="rbs-video" width="250" height="250" [muted]="true" controls autoplay>
              <source src="../../../assets/video/rbs.MP4" type="video/mp4">
              현재 브라우저에서 비디오를 지원하지 않습니다. 다른 브라우저를 이용해 주세요.
            </video>
      </div>
      
      <!-- <div style="text-align: center;">
          <button type="button" class="btn btn-outline-light button-effect"
          (click)="openModal(rbsVideoTemplate)">리버스바디 영상 보러가기</button>
      </div> -->
      
      <!-- <ng-template #rbsVideoTemplate>
        <div class="modal-header ">
          <h4 class="modal-title pull-left">ReverseBody Studio</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video class="rbs-video" width="770" height="600" [muted]="true" controls autoplay>
            <source src="../../../assets/video/rbs.MP4" type="video/mp4">
            현재 브라우저에서 비디오를 지원하지 않습니다. 다른 브라우저를 이용해 주세요.
          </video>
        </div>
      </ng-template> -->
    </div>
  </div>

  <div class="row">

  </div>



</div> <!-- End of container -->