/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/cyborg/bootstrap.min.css';

html {
    height: 100%;
}

body {
    margin-top: 120px;
    margin-bottom: 170px;
    min-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("assets/img/bg/cycling.jpg") bottom 100px left 0 no-repeat, #000;
    background-size: 60%;
    background-attachment: fixed;
    font-family: sans-serif;
    position: relative;
}

.route-font {
    font-size: 20px;
    color: #fff;
}

.heading-font {
    color: #fff;
    font-size: 45px;
    border-bottom: 5px solid #fff;
    margin-bottom: 20px;
}

.subheading-font {
    color: #fff;
    font-size: 28px;
}

.content-font { 
    color: #fff;
    font-size: 20px;
}