/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/cyborg/bootstrap.min.css';

html {
    height: 100%;
}

body {
    margin-top: 120px;
    /* margin-bottom: 200px; */
    min-height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("assets/img/bg/cycling.jpg") bottom 0 left 0 no-repeat, #000;
    background-size: 60%;
    background-attachment: fixed;
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
}

.route-font {
    font-size: 17px;
    color: #fff;
}

.heading-font {
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.subheading-font {
    color: #fff;
    font-size: 25px;
}

.bodytitle-font {
    color: #fff;
    font-size: 20px;
}

.content-font { 
    /* color: #fff; */
    color: #fff;
    font-size: 16px;
}





ngb-carousel {
    width: inherit;
    height: inherit;
}


.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
    position: absolute;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}


.carousel-control-next {
     z-index: 20;
}

.carousel-indicators{
    z-index: 20;
}