.nav-route-container {
    text-align: right;
    right: -100px;
}

.line-protector {
    display: inline-block;
}

a {
    text-decoration: none;
}

#logout-btn {
    color: white;
}

.dropdown {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .route-font {
        font-size: 14px;
    }
}

@media screen and (max-width: 992px) {
    .nav-route-container {
        right: 0;
    }
    .container {
        position: relative;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 100px;
        position: fixed;
    }
    .route-item {
        display: block;
        text-align: left;
    }
}

.navbar {
    background-color: #CCE6FB;
}

.collapse {
    transition: 0.5s transform ease-in-out;
}