<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="col-lg-1 nav-logo-container" routerLinkActive="active">
      <a class="route-font navbar-brand" [routerLink]="['/home']">
        <img class="nav-logo" src="../../assets/img/logo/logo_transparent.png" alt="ReverseBody Logo" width="70px"
          height="70px">
        <span class="text-light route-font ml-2">ReverseBody</span>
      </a>
    </div>
    <button class="navbar-toggler hidden-md-up hamburger" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      aria-controls="navbarsDefault" aria-expanded="isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <div class="col-lg-11 nav-route-container" routerLinkActive="active">
        <a [routerLink]="['/home']" class="text-light route-font mr-5 route-item">Home</a>
        <div class="dropdown line-protector route-item" dropdown>
          <a class="text-light route-font dropdown-toggle mr-5" dropdownToggle>About</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" [routerLink]="['/instructors']">Instructors</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/facilities']">Facilities</a>
          </div>
        </div>
        <a [routerLink]="['/programmes']" class="text-light route-font mr-5 route-item">Programmes</a>
        <a [routerLink]="['/bna']" class="text-light route-font mr-5 route-item">Before & After</a>
        <a [routerLink]="['/contact']" class="text-light route-font mr-5 route-item">Contact</a>

        <div id="user-logged-in" *ngIf="loggedIn()" class="dropdown line-protector route-item" dropdown>
          <a class="text-light dropdown-toggle route-font" dropdownToggle>
            {{ authService.decodedToken?.unique_name | titlecase }}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a *appHasRole="['Admin']" class="dropdown-item" [routerLink]="['/manage-users']"><i class="fa fa-edit"></i>&nbsp;Manage
              Users</a>
            <div *appHasRole="['Admin']" class="dropdown-divider"></div>

            <a *appHasRole="['Instructor']" class="dropdown-item" [routerLink]="['/manage-clients']"><i class="fa fa-edit"></i>&nbsp;Manage
              Clients</a>
            <div *appHasRole="['Instructor']" class="dropdown-divider"></div>

            <a *appHasRole="['Client']" class="dropdown-item" [routerLink]="['/status']"><i class="fa fa-edit"></i>&nbsp;My Status</a>
              <div *appHasRole="['Client']" class="dropdown-divider"></div>
              <a *appHasRole="['Instructor', 'Client']" class="dropdown-item" [routerLink]="['/profile']"><i class="fa fa-edit"></i>&nbsp;Edit Profile</a>
              <div *appHasRole="['Instructor', 'Client']" class="dropdown-divider"></div>
            
            <a id="logout-btn" class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
          </div>
        </div>

        <div id="user-account" *ngIf="!loggedIn()" class="dropdown line-protector route-item" autoClose="outside"
          ngbDropdown>
          <a class="text-light dropdown-toggle route-font" style="margin-right: 10px" ngbDropdownToggle
            routerLinkActive="active">
            <i class="fa fa-user-circle route-font"></i>&nbsp;Account
          </a>

          <div class="dropdown-menu" ngbDropdownMenu>
            <form class="form-container" *ngIf="!loggedIn()" #loginForm="ngForm" (ngSubmit)="login()">

              <div class="form-group input-container mb-3 mt-2">
                <i class="fa fa-user mt-2 input-icon"></i>
                <input class="input-box" type="text" class="form-control" placeholder="Username" required
                  name="userName" [(ngModel)]="model.userName">
              </div>

              <div class="form-group input-container">
                <i class="fa fa-lock mt-2 input-icon"></i>
                <input class="input-box" type="password" class="form-control" placeholder="Password" required
                  name="password" [(ngModel)]="model.password">
              </div>

              <div class="form-group input-container">
                <input [disabled]="!loginForm.valid" class="btn btn-primary submit-btn" type="submit" value="Sign In">
              </div>
            </form>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/register']"><i
                class="fa fa-user-plus">
              </i>&nbsp;&nbsp;Register
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</nav>