<!-- Screen wider than lg -->
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand text-light" [routerLink]="['/home']">
      <img src="../../assets/img/logo/logo_transparent.png" alt="Reverse Body Logo" class="img img-responsive" width="70"
        height="70">
        <span class="routeFont ml-2">ReverseBody</span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light routeFont mr-2" [routerLink]="['/home']">Home</a>
      </li>
      <div class="dropdown mt-2 mr-3" dropdown>
        <a class="text-light routeFont dropdown-toggle" dropdownToggle routerLinkActive="active">About</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/reversebody']">ReverseBody</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/instructors']">Instructors</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/facilities']">Facilities</a>
        </div>
      </div>

      <div class="dropdown mt-2 mr-2" dropdown>
        <a class="text-light routeFont dropdown-toggle" dropdownToggle routerLinkActive="active">Programs</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/rehab']">Rehabilitation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/strength']">Strength</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/pilates']">Pilates</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/diet']">Diet</a>
        </div>
      </div>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light routeFont" [routerLink]="['/beforeandafter']">Before & After</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-light routeFont" [routerLink]="['/faq']">FAQ</a>
      </li>
      <li class="nav-item mr-2" routerLinkActive="active">
        <a class="nav-link text-light routeFont" [routerLink]="['/contact']">Contact</a>
      </li>

      <div id="user-logged-in" *ngIf="loggedIn()" class="dropdown mt-2" dropdown>
        <a class="dropdown-toggle text-light routeFont" dropdownToggle>
          {{ authService.decodedToken?.unique_name | titlecase }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/schedule']"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Schedule</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"><i class="fa fa-edit"></i>&nbsp;Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a id="logoutBtn" class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
        </div>
      </div>

      <div id="user-account" *ngIf="!loggedIn()" class="dropdown mt-2" dropdown>
        <a class="dropdown-toggle text-light routeFont" style="margin-right: 10px" dropdownToggle
          routerLinkActive="active">
          <i class="fa fa-user-circle routeFont"></i>&nbsp;Account
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/register']"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Register</a>
          <div class="dropdown-divider"></div>
          <a id="logoutBtn" class="dropdown-item" [routerLink]="['/login']"><i
              class="fa fa-sign-in"></i>&nbsp;&nbsp;&nbsp;Login</a>
        </div>
      </div>

    </ul>
  </div>
</nav>