.nav-route-container {
    text-align: right;
}

.line-protector {
    display: inline-block;
}

a {
    text-decoration: none;
}

.dropdown {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .container {
        position: relative;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        top: 30px;
        right: 100px;
        position: fixed;
    }
    .route-item {
        display: block;
        text-align: left;
    }
}